@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

/* Override text-align: left; imposed by the parent z3998:poem style */
[epub|type~="bridgehead"]{
	text-align: justify !important;
}

[epub|type~="z3998:poem"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

/* Indent the first line of stanzas. */
[epub|type~="z3998:poem"] p > span:first-child{
	text-indent: 0;
}

[epub|type~="z3998:poem"] header + p > span:first-child{
	text-indent: -1em;
}

abbr.era{
	font-variant: all-small-caps;
}

footer{
	margin-top: 1em;
	text-align: right;
}
